<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Squeeze - Home</title>
		<script src="https://unpkg.com/htmx.org@1.5.0"></script>
		<link rel="stylesheet" href="/static/styles.css" />
	</head>
	<body>
		<nav
			class="bg-blue"
			id="navbar"
			hx-post="/navbar"
			hx-trigger="load"
			hx-target="#navbar"
		>
			Loading content...
		</nav>
		<div class="container-medium">
			<div
				id="content"
				hx-post="/example"
				hx-trigger="load"
				hx-target="#content"
			>
				Loading content...
			</div>
			<footer
				id="footer"
				hx-post="/footer"
				hx-trigger="load"
				hx-target="#footer"
			>
				Loading content...
			</footer>
		</div>
	</body>
</html>
